body{
background-image: url(boyshoe.jpeg);
}
h1{
    text-align: center;
    font-style: oblique;
    
}


#image-container{
    height: 500px;
    width: 300px;
    margin: 0 auto;
background: white;
display: flex;
align-items: center;
justify-content: center;
opacity: 0.6;
}