body {
  background-image: url(images/boyshoe.jpeg);
}

h1 {
  text-align: center;
  font-style: oblique;

}


h2 {

  margin-top: 370px;
  margin-left: -140px;
}

#container {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  background: white;
  display: flex;
  opacity: 0.9;
}


/*card*/
.card {
  height: 300px;
  margin-top: 10px;
  margin-left: 100px;
}

.like {
  margin-top: 190px;
  margin-left: -140px;
}


.like-button {
  animation-fill-mode: backwards;
  color: gold;
  font-size: 2rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
  margin-top: 190px;
  margin-left: 14px;
}

.like-button:hover {
  color: goldenrod;
}

.like-button:active {
  color: goldenrod;
}

.like-button:focus {
  outline: none;
}




.likes-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}


#myForm {
  height: 100px;
  width: 300px;
  margin-top: 500px;
}

.post {
  background-color: gold;
  color: black;
  width: 150px;
  height: 40px;
  margin-left: 10px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 4px;
  

}

.post:hover {
  filter: opacity(0.7);
}

.post:active {
  transform: translate(0, 0.3rem);
}


.input {
  margin-bottom: 40px;
  margin-left: -90px;
  height: 30px;
  width: 200px;
}